@using PicturePilot.Data.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Black list images";
}
@model IEnumerable<Image>

<div>
    <table width="100%" id="dtExample" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>User</th>
                <th>IsBlocked</th>
                <th>Tags</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var image in Model)
            {
                <tr>
                    <td>@image.Id</td>
                    <td><img src="@image.Url" alt="Image" width="100" /></td>
                    <td>@image.user.UserName</td>
                    <td>@image.IsBLocked</td>
                    <td>@string.Join(", ", image.Tags.Select(tag => tag.Title))</td>
                    <td>
                        <form action="/Admin/Image/Unblock/@image.Id" method="post">
                            <button type="submit" class="btn btn-primary">Unblock</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dtExample').DataTable({
            dom: 'Bfrtip',
            "paging": true,
            "info": true,
            "language": {
                "emptyTable": "No data available"
            }
        });
    });
</script>
